* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #303030;
}

body {
  /* display: flex; */
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #B9B3AE;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h4 {
  font-weight: 400;
}



.sidebar {
  flex: 5.17;
  /* width: 450px !important; */
}

.message-container {
  flex: 12;
}

.chat-title {
  display: flex;
  align-items: center;
}

.avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img,
.chat-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-header-right .chat-header-image {
	width: 20px;
	height: 20px;
	margin: 5px 13px;
	opacity: 0.4;
  }
.chat-header-right {
	align-items: flex-start;
}
/* .chat-header-right img {
  width: 20px;
  height: 20px;
  margin: 5px 13px;
  opacity: 0.4;
} */

.header {
  background-color: #EDEDED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.message-header-content {
  margin-left: 15px;
}

.message-header-content h4 {
  margin-bottom: 0px !important;
}

.message-header-content p {
  font-size: 13px;
  color: grey;
  margin-bottom: 0px !important;
}

.sidebar-search-container img {
  width: 15px;
  height: 15px;
  margin: 0 15px;
  opacity: 0.4;
}

.sidebar-search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 8px 15px;
}

.sidebar-search-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar-search-container input {
  border: navajowhite;
  outline: none;
  margin-left: 20px;
  width: 80%;
}

.chat-avatar {
  position: relative;
  flex: 1;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar-chats {
  height: calc(100vh - 115px);
  overflow-y: scroll;
}

.sidebar-chat {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px;
  width: 100%;
  cursor: pointer;
  text-align: start !important;
  /* pointer-events: none; */
}

.sidebar-chat:hover {
  background-color: #F5F5F5;
}

.addContact {
	background-color: #04480b;
}
.addContact .addContact-text {
	color: rgb(238, 229, 229) !important;
}
.addContact:hover {
	background-color: #1b6722;
}

.selected{
  background-color: #EBEBEB;
}

/* .sidebar-chat:nth-child(2) {
	background-color: #EBEBEB;
} */

.sidebar-chat::before {
  content: "";
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 80px;
  border-bottom: 1px solid #999;
  opacity: 0.2;
  pointer-events: none;
}

.chat-info {
  flex: 10;
  margin-left: 15px;
}

.chat-info h4 {
  margin: 0px !important
}

.chat-info p {
  font-size: 13px;
  line-height: 20px;
  color: gray;
  margin-bottom: 0px !important;
}

.time p {
  flex: 1;
  font-size: 13px;
  white-space: nowrap;
  margin-top: -16px;
  color: gray;
}


/* message content */

.message-content {
  height: calc(100vh - 120px);
  background-image: url(../public/assets/images/background.png);
  background-position: center;
}

.message-content {
  flex: 1;
  padding: 20px 80px;
  overflow-y: scroll;
}

.chat-message {
  font-size: 14px;
  padding: 8px 10px;
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 30px;
}

.chat-sent {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat-timestamp {
  margin-left: 10px;
  font-size: 10px;
  color: gray;
}


/* chat footer */
.message-footer {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.message-footer img {
  width: 22px;
  height: 22px;
  flex: 1;
  opacity: 0.4;
}

.message-footer input {
  flex: 20;
  margin: 5px 10px;
  padding: 6px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.main-default-image {
	height: 100%;
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #768492;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
}

/* lgin */
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 540px;
	margin-top: 6em;
}
.page {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	margin: -20px 0 50px;
} 

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.login-form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
.login-input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.login-form button {
	border-radius: 20px;
	border: 1px solid #91fe0c;
	background-color: #0b370f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.login-form button:active {
	transform: scale(0.95);
}

.login-form button:focus {
	outline: none;
}

.login-form button:hover {
	background-color: #115117;
	color: #fff;
	/* font-size: 13px; */
}

.form-link {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	/* background: #FF416C; */
	background-image: url(../public/assets/images/background.png);
	/* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); */
	/* background: linear-gradient(to right, #FF4B2B, #FF416C); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.overlay-image {
	height: 100%;
	width: 100%;
	
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}


.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}


/* login page styles */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800'); */

/* * {
	box-sizing: border-box;
} */

/* body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
} */

/* h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
} */
